.card {
    /* width: 10%; */
    height: 20%;
    border: 2px solid  black;
    padding: 15px;
    display: flex;
    margin: 20px;
}

.user-data {
    display: flex;
    flex-direction: column;
    justify-content: flex-start; 
    margin-left: 20px;
}

.actions {
    color: blueviolet;
    cursor: pointer;
}